includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
    ignoreErrors:
        # Request magic properties (e.g. $request->route('id'))
        - '#^Access to an undefined property Illuminate\\Http\\Request#'
    treatPhpDocTypesAsCertain: false
